//change this code
body {
  font-family: 'Nabla', sans-serif;
}

@font-face {
  font-family: 'Nabla';
  src: url('./Nabla-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
